<%- include('include/head.ejs') %>

<body>

  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- ***** Header Area Start ***** -->
  <%- include('include/header.ejs') %>
  <!-- ***** Header Area End ***** -->

  <!-- ***** Main Banner Area Start ***** -->
  <div class="main-banner">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center">
          <div class="header-text">
            <h6>Wheels-Deals</h6>
            <h3>Boutique en ligne de Jantes automobiles</h3>
            <p>Découvrez une large gamme de jante pour votre voiture toutes marques </p>
            <div class="main-button">             
              <a href="/explore" >Explorer la Boutique</a>             
            </div>
          </div>
        </div>
        <div class="col-lg-5 offset-lg-1">
          <div class="owl-banner owl-carousel">
            <div class="item">
              <img src="http://localhost:3000/images/banner-01.png" alt="">
            </div>
            <div class="item">
              <img src="http://localhost:3000/images/banner-02.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Main Banner Area End ***** -->
  
  <div class="categories-collections">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="categories">
            <div class="row">
              <div class="col-lg-12">
              </div>
            </div>
          </div>
        </div>


        <div class="col-lg-12">
          <div class="collections">
            <div class="row">
              <div class="col-lg-12">
                <div class="section-heading">
                  <div class="line-dec"></div>
                  <h2><em>Wheels-Deals</em> Qui sommes-nous ?</h2>
                  <p>
                    Bienvenue chez Wheels-Deals ! Nous sommes une boutique en ligne spécialisée dans la vente de jantes de qualité supérieure pour tous les types de véhicules. Notre mission est de fournir à nos clients des produits élégants, durables et performants, tout en offrant un service clientèle exceptionnel.
                    
                    Chez Wheels-Deals, nous nous engageons à vous offrir une expérience d'achat agréable et sans tracas. Notre équipe est là pour vous guider dans le choix des jantes parfaites pour votre véhicule et pour répondre à toutes vos questions.
                    
                    Que vous recherchiez des jantes en alliage légères pour une conduite sportive ou des jantes en acier robustes pour des aventures tout-terrain, nous avons ce qu'il vous faut. Explorez notre sélection soigneusement choisie et trouvez les jantes qui reflètent votre style et vos besoins.
                    
                    Faites confiance à Wheels-Deals pour sublimer l'apparence de votre véhicule avec des produits de qualité et un service clientèle inégalé. Commandez dès aujourd'hui et découvrez l'élégance sur roues avec nous !</p>
                </div>
              </div>
            </div> 
          </div>
        </div>
      </div>
    </div>
  </div>


  <%- include('include/footer.ejs') %>


  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
  <%- include('include/script.ejs') %>

  </body>
</html>