<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="author" content="templatemo">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

    <title>Tech-Store</title>

    <!-- Bootstrap core CSS -->
    <link href="http://localhost:3000/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <!-- <link rel="stylesheet" href="http://localhost:3000/css/fontawesome.css"> -->
    <link rel="stylesheet" href="http://localhost:3000/css/templatemo-tech-store.css">
    <link rel="stylesheet" href="http://localhost:3000/css/owl.css">
    <!-- <link rel="stylesheet" href="http://localhost:3000/css/animate.css"> -->
    <!-- <link rel="stylesheet"href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/> -->
<!--

-->
  </head>